body,
html {
  margin: 0;
  padding: 0;
}

:root {
  --primary: #031e28;
}

.profile-section {
  /* border-top: 50px solid var(--primary); */
  padding: 0;
  background: var(--primary);
}

* {
  font-family: 'Open Sans', sans-serif;
}

.profile-section header {
  background: white;
  margin-top: 45px;
  text-align: center;
  padding: 20px 100px;
}

.profile-section header img {
  width: 100%;
  margin: auto;
}

.profile-section .information {
  background: var(--primary);
}

.profile-section .primary {
  padding-top: 80px;
}

.info-section {
  color: #FFFF;
}

.info-group .info-icon {
  background: #fff;
  color: var(--primary);
  padding: 5px 0;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 0 30px 30px 0;
  /* animation: fade-right 0.5s ease-in 1; */
}

.info-icon:last-child {}

@keyframes fade-right {
  from {
    transform: translateX(-100px);
    opacity: 0.2;
  }

  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

.info-group .info-text {
  padding: 0 20px;
  margin-top: 10px;
}

.info-text p {
  margin-top: 0;
  margin-bottom: 0;
}

.info-section .info-title {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
}

.skill-group {
  display: flex;
  padding: 5px 50px;
  align-items: center;
  margin-bottom: 10px;
}

.skill-group p {
  font-weight: bold;
  margin-right: 20px;
  margin-top: 0;
  margin-bottom: 0;
  width: 200px;
}

.skill-group .skill-progress {
  position: relative;
  width: 100%;
  background: rgba(200, 200, 200, 0.7);
  height: 6px;
}

.skill-group .skill-progress::after {
  position: absolute;
  content: "";
  width: 90%;
  background: #fff;
  height: 100%;
  animation: scale-right 1.5s ease-in 1;
  transition: 200ms;
}

.hobby {
  background: #fff;
  padding: 10px;
  color: var(--primary);
}

.header-title {
  background: var(--primary);
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  text-transform: uppercase;
  /* animation: scale-right-1 2s ease-in-out 1; */
}

@keyframes scale-right-1 {
  from {
    opacity: 0.8;
    width: 0%;
  }

  to {
    width: 100%;
  }
}

@keyframes scale-right {
  10% {
    width: 10%;
  }

  30% {
    width: 60%;
  }

  50% {
    width: 40%;
  }

  80% {
    width: 80%;
  }

  90% {
    width: 100%;
  }
}

@media screen and (max-width: 980px) {

  .profile-section header {
    padding: 20px 50px;
  }
}

@media screen and (max-width: 768px) {

  .profile-section header {
    padding: 20px 0px;
  }
}